PSS_Server/PSS_Server/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DailyReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Purchases" nillable="true" type="tns:ArrayOfFuelData" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfFuelData" />
      <xs:element minOccurs="0" name="StationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DailyReport" nillable="true" type="tns:DailyReport" />
  <xs:complexType name="ArrayOfFuelData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuelData" nillable="true" type="tns:FuelData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuelData" nillable="true" type="tns:ArrayOfFuelData" />
  <xs:complexType name="FuelData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FuelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuelData" nillable="true" type="tns:FuelData" />
</xs:schema>