PSS_POS/PSS_POS/Service References/PosService/PSS_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PSS_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PSS_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuelItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuelItem" nillable="true" type="tns:FuelItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuelItem" nillable="true" type="tns:ArrayOfFuelItem" />
  <xs:complexType name="FuelItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuelItem" nillable="true" type="tns:FuelItem" />
</xs:schema>