PSS_POS/PSS_POS/Service References/PosService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PSS_Server" />
  <xs:element name="subscribePump">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customerReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
        <xs:element minOccurs="0" name="fueltype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pumpProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PumpingFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuelLevels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuelLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PSS_Server" minOccurs="0" name="getFuelLevelsResult" nillable="true" type="q1:ArrayOfFuelItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PSS_Server" minOccurs="0" name="getSaleDataResult" nillable="true" type="q2:ArrayOfFuelItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumofCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumofCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumofCustomersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuelOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuelOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PSS_Server" minOccurs="0" name="getFuelOrdersResult" nillable="true" type="q3:ArrayOfFuelItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subscribePos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activatePump">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posId" type="xs:int" />
        <xs:element minOccurs="0" name="fueltype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unSubscribePos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unSubscribePosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="customerWaiting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
        <xs:element minOccurs="0" name="fueltype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pumpingProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PSS_Server" minOccurs="0" name="update" nillable="true" type="q4:FuelItem" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="finishedPumping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pumpNo" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PSS_Server" minOccurs="0" name="fuel" nillable="true" type="q5:FuelItem" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>