PSS_Server/PSS_Server/Service References/FuelSupplyService/FuelSupplyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" />
  <xs:element name="GetFuelPrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuelPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" minOccurs="0" name="GetFuelPricesResult" nillable="true" type="q1:FuelPriceQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseFuel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" minOccurs="0" name="purchaseOrder" nillable="true" type="q2:FuelPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseFuelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" minOccurs="0" name="PurchaseFuelResult" nillable="true" type="q3:FuelPurchaseConfirmation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>