PSS_Server/PSS_Server/Service References/FuelSupplyService/FuelSupplyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FuelSupplyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetroFexHQ.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFuelSupplyService_GetFuelPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFuelPrices" />
  </wsdl:message>
  <wsdl:message name="IFuelSupplyService_GetFuelPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFuelPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IFuelSupplyService_PurchaseFuel_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseFuel" />
  </wsdl:message>
  <wsdl:message name="IFuelSupplyService_PurchaseFuel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseFuelResponse" />
  </wsdl:message>
  <wsdl:portType name="IFuelSupplyService">
    <wsdl:operation name="GetFuelPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuelSupplyService/GetFuelPrices" message="tns:IFuelSupplyService_GetFuelPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuelSupplyService/GetFuelPricesResponse" message="tns:IFuelSupplyService_GetFuelPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseFuel">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuelSupplyService/PurchaseFuel" message="tns:IFuelSupplyService_PurchaseFuel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuelSupplyService/PurchaseFuelResponse" message="tns:IFuelSupplyService_PurchaseFuel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFuelSupplyService" type="tns:IFuelSupplyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFuelPrices">
      <soap:operation soapAction="http://tempuri.org/IFuelSupplyService/GetFuelPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseFuel">
      <soap:operation soapAction="http://tempuri.org/IFuelSupplyService/PurchaseFuel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuelSupplyService">
    <wsdl:port name="BasicHttpBinding_IFuelSupplyService" binding="tns:BasicHttpBinding_IFuelSupplyService">
      <soap:address location="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>